<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.ansible.AnsibleInstallation_-DescriptorImpl plugin="{{ item.0.shortName }}@{{ item.0.version }}">
{% if jenkins_plugin_cfg_ansible_installations %}
  <installations class="org.jenkinsci.plugins.ansible.AnsibleInstallation-array"/>
{% for ansible_installation in jenkins_plugin_cfg_ansible_installations %}
{% endfor %}
  </installations>
{% else %}
  <installations class="org.jenkinsci.plugins.ansible.AnsibleInstallation-array"/>
{% endif %}
</org.jenkinsci.plugins.ansible.AnsibleInstallation_-DescriptorImpl>