<?xml version='1.0' encoding='UTF-8'?>
<hudson.triggers.SCMTrigger_-DescriptorImpl>
  <synchronousPolling>{{ jenkins_misc_cfg_scm_trigger_synchronous_polling | lower }}</synchronousPolling>
  <maximumThreads>{{ jenkins_misc_cfg_scm_trigger_maximum_threads }}</maximumThreads>
</hudson.triggers.SCMTrigger_-DescriptorImpl>