<?xml version='1.0' encoding='UTF-8'?>
<jenkins.mvn.GlobalMavenConfig>
{% if jenkins_misc_cfg_jenkins_global_maven_settings_provider %}
{% else %}
  <settingsProvider class="jenkins.mvn.DefaultSettingsProvider"/>
{% endif %}
{% if jenkins_misc_cfg_jenkins_global_maven_global_settings_provider %}
{% else %}
  <globalSettingsProvider class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
{% endif %}
</jenkins.mvn.GlobalMavenConfig>