<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.ArtifactManagerConfiguration>
{% if jenkins_misc_cfg_artifact_manager_factories %}
  <artifactManagerFactories>
{% for jenkins_misc_artifact_factory in jenkins_misc_cfg_artifact_manager_factories %}
{% endfor %}
  </artifactManagerFactories>
{% else %}
  <artifactManagerFactories/>
{% endif %}
</jenkins.model.ArtifactManagerConfiguration>