<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{ jenkins_misc_cfg_jenkins_location_admin_address }}</adminAddress>
  <jenkinsUrl>{{ jenkins_misc_cfg_jenkins_location_url }}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>