<?xml version='1.0' encoding='UTF-8'?>
<ru.yandex.jenkins.plugins.debuilder.DebianPackageBuilder_-DescriptorImpl plugin="debian-package-builder@{{ jenkins_plugin.version }}">
  <publicKey>{{ jenkins_plugin_cfg_debian_package_builder_public_key }}</publicKey>
  <privateKey>{{ jenkins_plugin_cfg_debian_package_builder_private_key }}</privateKey>
  <accountName>{{ jenkins_plugin_cfg_debian_package_builder_account_name }}</accountName>
  <accountEmail>{{ jenkins_plugin_cfg_debian_package_builder_account_email }}</accountEmail>
  <passphrase>{{ jenkins_plugin_cfg_debian_package_builder_passphrase }}</passphrase>
</ru.yandex.jenkins.plugins.debuilder.DebianPackageBuilder_-DescriptorImpl>