<?xml version='1.0' encoding='UTF-8'?>
<hudson.maven.MavenModuleSet_-DescriptorImpl plugin="{{ item.0.shortName }}@{{ item.0.version }}">
{% if jenkins_plugin_cfg_maven_plugin_validation_levels %}
  <mavenValidationLevels class="linked-hash-map">
{% for jenkins_maven_validation_level in jenkins_plugin_cfg_maven_plugin_validation_levels %}
    <entry>
      <string>{{ jenkins_maven_validation_level.level_string }}</string>
      <int>{{ jenkins_maven_validation_level.level_int }}</int>
    </entry>
{% endfor %}
  </mavenValidationLevels>
{% else %}
  <mavenValidationLevels class="linked-hash-map"/>
{% endif %}
{% if jenkins_plugin_cfg_maven_plugin_local_repository %}
  <localRepository class="hudson.maven.local_repo.DefaultLocalRepositoryLocator">
  </localRepository>
{% else %}
  <localRepository class="hudson.maven.local_repo.DefaultLocalRepositoryLocator"/>
{% endif %}
</hudson.maven.MavenModuleSet_-DescriptorImpl>