<?xml version='1.0' encoding='UTF-8'?>
<hudson.tasks.Mailer_-DescriptorImpl plugin="{{ item.0.shortName }}@{{ item.0.version }}">
  <useSsl>{{ jenkins_plugin_cfg_mailer_use_ssl | lower }}</useSsl>
  <charset>{{ jenkins_plugin_cfg_mailer_charset }}</charset>
</hudson.tasks.Mailer_-DescriptorImpl>