<?xml version='1.0' encoding='UTF-8'?>
<github-plugin-configuration plugin="{{ item.0.shortName }}@{{ item.0.version }}">
{% if jenkins_plugin_cfg_github_configs %}
  <configs>
{% for github_config in jenkins_plugin_cfg_github_configs %}
{% endfor %}
  </configs>
{% else %}
  <configs/>
{% endif %}
</github-plugin-configuration>