<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.envinject.EnvInjectPluginConfiguration plugin="{{ item.0.shortName }}@{{ item.0.version }}">
    <hideInjectedVars>{{ jenkins_plugin_cfg_envinject_hide_injected_vars | lower }}</hideInjectedVars>
    <enablePermissions>{{ jenkins_plugin_cfg_envinject_enable_permissions | lower }}</enablePermissions>
</org.jenkinsci.plugins.envinject.EnvInjectPluginConfiguration>
