<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.envinject.EnvInjectNodeProperty_-EnvInjectNodePropertyDescriptor plugin="envinject@{{ jenkins_plugin.version  }}">
{% if jenkins_plugin_cfg_envinject_global_password_entries %}
  <envInjectGlobalPasswordEntries/>
{% for passwordentry in jenkins_plugin_cfg_envinject_global_password_entries %}
{% endfor %}
  </envInjectGlobalPasswordEntries>
{% else %}
  <envInjectGlobalPasswordEntries/>
{% endif %}
</org.jenkinsci.plugins.envinject.EnvInjectNodeProperty_-EnvInjectNodePropertyDescriptor>