<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.gitclient.JGitTool_-DescriptorImpl plugin="{{ item.0.shortName }}@{{ item.0.version }}">
{% if jenkins_plugin_cfg_git_client_installations %}
  <installations class="hudson.plugins.git.GitTool-array">
{% for git_client_install in jenkins_plugin_cfg_git_client_installations %}
{% endfor %}
  </installations>
{% else %}
  <installations class="hudson.plugins.git.GitTool-array"/>
{% endif %}
</org.jenkinsci.plugins.gitclient.JGitTool_-DescriptorImpl>