<?xml version='1.0' encoding='UTF-8'?>
<org.jvnet.hudson.plugins.SSHBuildWrapper_-DescriptorImpl plugin="ssh@{{ jenkins_plugin.version }}">
{% if jenkins_plugin_cfg_ssh_sites %}
  <sites>
{% for jenkins_ssh_site in jenkins_plugin_cfg_ssh_sites %}
{% endfor %}
  </sites>
{% else %}
  <sites/>
{% endif %}
</org.jvnet.hudson.plugins.SSHBuildWrapper_-DescriptorImpl>