<?xml version='1.0' encoding='UTF-8'?>
<hudson.tasks.Ant_-DescriptorImpl plugin="ant@{{ jenkins_plugin.version }}">
{% if jenkins_plugin_cfg_ant_installations %}
  <installations>
{% for jenkins_ant_intallation in jenkins_plugin_cfg_ant_installations %}
{% endfor %}
  </installations>
{% else %}
  <installations/>
{% endif %}
</hudson.tasks.Ant_-DescriptorImpl>