<?xml version='1.0' encoding='UTF-8'?>
<hudson.scm.SubversionSCM_-DescriptorImpl plugin="{{ item.0.shortName }}@{{ item.0.version }}">
  <generation>{{ jenkins_plugin_cfg_subversion_generation }}</generation>
  <mayHaveLegacyPerJobCredentials>{{ jenkins_plugin_cfg_subversion_legacy_per_job_credentials | lower }}</mayHaveLegacyPerJobCredentials>
  <workspaceFormat>{{ jenkins_plugin_cfg_subversion_workspace_format }}</workspaceFormat>
  <validateRemoteUpToVar>{{ jenkins_plugin_cfg_subversion_validate_remote_up_to_var | lower }}</validateRemoteUpToVar>
  <storeAuthToDisk>{{ jenkins_plugin_cfg_subversion_store_auth_to_disk | lower }}</storeAuthToDisk>
</hudson.scm.SubversionSCM_-DescriptorImpl>