<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.git.GitSCM_-DescriptorImpl plugin="{{ item.0.shortName }}@{{ item.0.version }}">
  <generation>{{ jenkins_plugin_cfg_git_generation }}</generation>
  <globalConfigName>{{ jenkins_plugin_cfg_git_global_name }}</globalConfigName>
  <globalConfigEmail>{{ jenkins_plugin_cfg_git_global_email }}</globalConfigEmail>
  <createAccountBasedOnEmail>{{ jenkins_plugin_cfg_git_create_account_based_on_email | lower }}</createAccountBasedOnEmail>
</hudson.plugins.git.GitSCM_-DescriptorImpl>